<div class="intro">
	<h1>Michael Halloran</h1></font>
	<br>
	<p>Specializing in delivering attractive, functional, and mobile-responsive websites. Skilled with Ruby on Rails, HTML5, CSS3, JQuery, JavaScript, and more. I have a varied background with experience in finance, business operations and web developement. My hobbies include playing musical instruments and going to shows. I live in Cambridge, MA with my girlfriend and cat. </p>
	<br>
	<p><%= link_to 'Resume', 'mthresume.pdf' %></p>
	<br>
	<br>
	<a href='http://github.com/unyon'><img src='assets/github.png' alt='github link' style="width:42px;height:42px;border:0;"></a>

</div>