<div class="intro">
	<h1>Michael Halloran</h1></font>
	<br>
	<p>Specializing in delivering attractive, functional, and mobile-responsive websites. Skilled with Ruby on Rails, HTML5, CSS3, JQuery, JavaScript, and more. Mike lives in Cambridge, MA. </p>
	<br>

	<%= link_to 'Resume', 'mthresume.pdf' %>
	<br>
	<a href='http://github.com/unyon'><img src='assets/github.png' alt='github link' style="width:42px;height:42px;border:0;"></a>

</div>