body, html {
  height:  100%;
  width: 100%;
  margin:  0px auto;
  padding: 0px auto;
  overflow: hidden;
}

.outer-wrapper {
  overflow: hidden;
  height:     auto;        /*These two lines were the key. */
  min-height: 100%;
  margin:  0px auto;
  padding: 0px auto;
  top: 0px;
  background-image: image-url('parrot2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
	transform:  translateX(0);
	transition: transform 0.6s ease;
  height:     auto;  
  min-height: 100%;
  width: auto;
  min-width: 100%;
  margin:  0px auto;
  padding: 0px auto;
  position: absolute;
  top: 0px;
}

.wrapper.open {
	transform: translateX(100%);
  height:     auto; 
  width: auto; 
  min-height: 100%;
  margin:  0px auto;
  padding: 0px auto;
  position: absolute;
}

.wrapper .nav-toggle {
  color: white;
  size: 4em;
  position: fixed;
  top: 30px;
  left: 10px;
  cursor: pointer;
}

.site-title {
  margin-left: 100px;
}

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  text-align: center;
  background: #222;
  transform: translateX(-100%);
  height: 100%;
  font-size: 2em;
}

/*.clr{
  clear:both;
}*/

/*.main-nav .nav-toggle {
/*  right: 1%;
top: 25%;
text-align: center; 
display: block;
color: white;
padding: 10px 20px;
position: relative;
}*/

.main-nav ul a {
	padding: 10px 20px;
	display: block;
  color: white;
}

#closetoggle {
  padding: 10px 20px;
  display: block;
  color: white;
  text-align: center !important;
  margin-left: -25px;
  position: relative;

}
.main-nav li {
  list-style-type: none;
}

.intro {
  box-shadow: 0px 3px 8px #2a2a2a;
  padding: 10px 120px 40px 120px;
  margin: 65px 180px 20px 180px;
  height: auto;  
  min-height: 100%;
  text-align: center;
  background: white;
  position: relative;
}
.intro h1 {
  color: #189DC9;
}

.intro a {
  font-size: 100%;
}

.intro p {
  font-size: 150%;
}

.main {
/*  background-image: image-url('trees6.jpg');*/
  height: auto;  
  min-height: 100%;
  width: auto;
  width: 100%;
  margin: 60px;
  padding: 10px;
  text-align: center;
  margin-left: -0.01%;
  font-family: 'Open Sans', sans-serif !important;
  color: white;
}

.main h1 {
  /*font-size: 5em;*/
  font-size: 500%;
  font-weight: bold;
}

.main h2 {
  font-size: 300%;
}

.main a {
  font-size: 150%;
  color: white;
}