body, html {
  height:  100%;
  width: 100%;
  margin:  0px auto;
  padding: 0px auto;
  overflow: hidden;
}

.outer-wrapper {
  overflow: hidden;
  height:     auto;        /*These two lines were the key. */
  min-height: 100%;
  margin:  0px auto;
  padding: 0px auto;
  top: 0px;
  background-image: image-url('parrot2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
	transform:  translateX(0);
	transition: transform 0.6s ease;
  height:     auto;  
  min-height: 100%;
  width: auto;
  min-width: 100%;
  margin:  0px auto;
  padding: 0px auto;
  position: absolute;
  top: 0px;
/*  background-image: image-url('parrot2.jpg');*/
}

.wrapper.open {
	transform: translateX(100%);
  height:     auto; 
  width: auto; 
  min-height: 100%;
  margin:  0px auto;
  padding: 0px auto;
  position: absolute;
}

.wrapper .nav-toggle {
  color: white;
  size: 4em;
}

.site-title {
  margin-left: 100px;
}

.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  text-align: center;
  background: #222;
  transform: translateX(-100%);
  height: 100%;
}

/*.clr{
  clear:both;
}*/

/*.main-nav .nav-toggle {
/*  right: 1%;
top: 25%;
text-align: center; 
display: block;
color: white;
padding: 10px 20px;
position: relative;
}*/

.main-nav ul a {
	padding: 10px 20px;
	display: block;
  color: white;
}

.main-nav ul .nav-toggle {
  padding: 10px 20px;
  display: block;
  color: white;
  text-align: center;
  margin-left: -25px;

}
.main-nav li {
  list-style-type: none;
}

.nav-toggle {
	position: relative;
	top: 30px;
	left: 10px;
	cursor: pointer;
}

.intro {
  box-shadow: 0px 3px 8px #2a2a2a;
  padding: 20px 120px 20px 120px;
  margin: 40px 40px 40px 40px;
  height: auto;  
  min-height: 100%;
  text-align: center;
}
.intro h1 {
  color: #189DC9;
}

.main {
/*  background-image: image-url('trees6.jpg');*/
  height: auto;  
  min-height: 100%;
  width: auto;
  width: 100%;
  margin: 60px;
  padding: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif !important;
  color: white;
}

.main h1 {
  font-size: 5em;
  font-weight: bold;
}

.main h2 {
  font-size: 3em;
}

.main a {
  font-size: 1.5em;
  color: white;
}